@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap");
:root {
  --font-family: "Press Start 2P", cursive;
  --font-family2: "VT323", monospace;
}
.normal {
  background-color: rgb(168, 167, 120);
}
.ground {
  background-color: rgb(224, 192, 104);
}
.rock {
  background-color: rgb(163, 140, 33);
}
.bug {
  background-color: rgb(114, 159, 62);
}
.ghost {
  background-color: rgb(123, 98, 163);
}
.steel {
  background-color: rgb(158, 183, 184);
}
.fighting {
  background-color: rgb(192, 48, 40);
}
.fire {
  background-color: rgb(247, 125, 37);
}
.flying {
  background-color: rgb(168, 143, 239);
}
.water {
  background-color: rgb(69, 146, 196);
}
.poison {
  background-color: rgb(185, 127, 201);
}
.grass {
  background-color: rgb(155, 204, 80);
}
.electric {
  background-color: rgb(248, 208, 48);
}
.psychic {
  background-color: rgb(243, 102, 185);
}
.ice {
  background-color: rgb(152, 216, 216);
}
.dragon {
  background-color: rgb(112, 56, 248);
}
.dark {
  background-color: rgb(112, 88, 72);
}
.fairy {
  background-color: rgb(238, 153, 172);
}
